<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../mixins/redux-mixin.html">
<link rel="import" href="shared-animations.html">
<link rel="import" href="hoverboard-icons.html">

<dom-module id="about-block">
  <template>
    <style is="custom-style" include="shared-styles flex flex-alignment flex-reverse"></style>

    <style>
      :host {
        display: block;
      }

      .container {
        padding-top: 64px;
      }

      .content {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: 1fr;
      }

      .statistics-block {
        width: 100%;
        display: grid;
        grid-gap: 32px 16px;
        grid-template-columns: repeat(2, 1fr);
      }

      .numbers {
        font-size: 40px;
      }

      .numbers::after {
        content: "";
        display: block;
        height: 2px;
        width: 64px;
        background-color: var(--default-primary-color);
      }

      .label {
        margin-top: 4px;
      }

      @media (min-width: 640px) {
        .content {
          grid-gap: 64px;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }

        .statistics-block {
          grid-gap: 32px;
        }

        .numbers {
          font-size: 56px;
        }
      }

    </style>

    <div class="container">

      <div class="content">

        <div>
          <h1 class="container-title">{$ aboutBlock.title $}</h1>
          <p>{$ aboutBlock.callToAction.featuredSessions.description $}</p>
          <a
            href="{$ aboutBlock.callToAction.featuredSessions.link $}"
            ga-on="click"
            ga-event-category="video"
            ga-event-action="watch"
            ga-event-label="about block - {$ aboutBlock.callToAction.featuredSessions.label $}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <!--<paper-button class="animated icon-right">
              <span class="cta-label">{$ aboutBlock.callToAction.featuredSessions.label $}</span>
              <iron-icon icon="hoverboard:arrow-right-circle"></iron-icon>
            </paper-button>-->
          </a>

          <p>{$ aboutBlock.callToAction.howItWas.description $}</p>
          <!--<paper-button
            class="animated icon-right"
            on-tap="_playVideo"
            ga-on="click"
            ga-event-category="video"
            ga-event-action="watch"
            ga-event-label="about block - {$ aboutBlock.callToAction.howItWas.label $}"
          >
            <span>{$  aboutBlock.callToAction.howItWas.label $}</span>
            <iron-icon icon="hoverboard:arrow-right-circle"></iron-icon>
          </paper-button>-->
        </div>

        <div class="statistics-block">

          <div class="item">
            <div class="numbers">{$ aboutBlock.statisticsBlock.attendees.number $}</div>
            <div class="label">{$ aboutBlock.statisticsBlock.attendees.label $}</div>
          </div>

          <div class="item">
            <div class="numbers">{$ aboutBlock.statisticsBlock.days.number $}</div>
            <div class="label">{$ aboutBlock.statisticsBlock.days.label $}</div>
          </div>

          <div class="item">
            <div class="numbers">{$ aboutBlock.statisticsBlock.sessions.number $}</div>
            <div class="label">{$ aboutBlock.statisticsBlock.sessions.label $}</div>
          </div>

          <div class="item">
            <div class="numbers">{$ aboutBlock.statisticsBlock.tracks.number $}</div>
            <div class="label">{$ aboutBlock.statisticsBlock.tracks.label $}</div>
          </div>

        </div>
      </div>
    </div>

  </template>

  <script>
    class AboutBlock extends ReduxMixin(Polymer.Element) {
      static get is() {
        return 'about-block';
      }

      _playVideo() {
        uiActions.toggleVideoDialog({
          title: '{$  aboutBlock.callToAction.howItWas.title $}',
          youtubeId: '{$  aboutBlock.callToAction.howItWas.youtubeId $}',
          disableControls: true,
          opened: true,
        });
      }
    }

    window.customElements.define(AboutBlock.is, AboutBlock);
  </script>
</dom-module>
